mat-sidenav-container {
  position: fixed;
  background: none;
  width: min-content;
  height: 100vh;
  right: 0;
}

mat-sidenav,
mat-sidenav-content {
  width: min-content;
}
.link-container {
  display: flex;
  flex-direction: column;
}
mat-sidenav {
  width: min-content;

  width: 200px;
}
