.category-container {
  box-sizing: border-box;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 10px;
  padding: 10px;
}
.mat-headline-4 {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 2px;
}
